<div class="container">
	<div class="row">
		<div class="col s12 m9">
			<div class="article-list" id="article-list">
				<div class="card">
					<div class="card-content">
						<% @posts.each do |post| %>
							<div class="article-item">
								<div class="article-item-inner">
									<p class="article-item-header">
										<span class="article-item-created-at"><%= post.created_at %></span>
										<span class="dot">・</span>
										<span class="article-item-category"><%= link_to post.category.name, category_path(post.category) %></span>
									</p>
									<h4 class="article-item-title">
										<%= link_to post.title, post_path(post) %>
									</h4>
									<p class="article-item-content margin-bottom-m"><%= post.excerpt %></p>
									<p class="article-item-link"><%= link_to 'View Post', post_path(post), class: 'btn' %></p>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<%= render 'partials/blog_sidebar' %>
		</div>
	</div>
</div>
